<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1039382416339-q1pbv21feei0kib5he1h3igd0rv8kaog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039382416339-q1pbv21feei0kib5he1h3igd0rv8kaog</string>
	<key>API_KEY</key>
	<string>AIzaSyAVfTwtAafzVk16XKRqXb3ynWz9aIf4SRg</string>
	<key>GCM_SENDER_ID</key>
	<string>1039382416339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riot.wiresafe</string>
	<key>PROJECT_ID</key>
	<string>wiresafe-project</string>
	<key>STORAGE_BUCKET</key>
	<string>wiresafe-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039382416339:ios:ac026cf159cc4741</string>
	<key>DATABASE_URL</key>
	<string>https://wiresafe-project.firebaseio.com</string>
</dict>
</plist>